<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.LiteDb"/>
  </extensions>

  <targets>
    <target name="audit" xsi:type="liteDBTarget" connectionString="file=./logs/AuditLog.db" collectionName="AuditLog">
      <property name="UserName" layout="${aspnet-user-identity}" />
      <property name="IP" layout="${aspnet-request-ip}" />
      <property name="Url" layout="${aspnet-request-url}" />
      <property name="Method" layout="${aspnet-request-method}" />
      <property name="Body" layout="${aspnet-request-posted-body}" />
      <property name="QueryString" layout="${aspnet-request-querystring}" />
    </target>
    <target name="error" xsi:type="liteDBTarget" connectionString="file=./logs/ErrorLog.db" collectionName="ErrorLog">
      <property name="UserName" layout="${aspnet-user-identity}" />
      <property name="IP" layout="${aspnet-request-ip}" />
      <property name="Url" layout="${aspnet-request-url}" />
      <property name="Method" layout="${aspnet-request-method}" />
      <property name="Body" layout="${aspnet-request-posted-body}" />
      <property name="QueryString" layout="${aspnet-request-querystring}" />
    </target>
  </targets>

  <rules>
    <logger name="MyNAS.Site.AuditLogAttribute" minlevel="Trace" maxlevel="Info" writeTo="audit" />
    <logger name="MyNAS.Site.*" minlevel="Warn" maxlevel="Error" writeTo="error" />
  </rules>
</nlog>